.env
.idea/
notebooks/.ipynb_checkpoints/Lugares-checkpoint.ipynb
notebooks/.ipynb_checkpoints/OfiMongo-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Aproximacion-checkpoint.ipynb
notebooks/.ipynb_checkpoints/OfiMongo-checkpoint.ipynb
src/__pycache__/func.cpython-39.pyc
src/__pycache__/func.cpython-39.pyc
notebooks/.ipynb_checkpoints/VisualizacionYdatos-checkpoint.ipynb